$blue-light: #85C1E9;
$blue: #2E86C1;
$blue-dark: #1B4F72;

$font-color: #212F3C;
$font-color-muted: #85929E;

$white: #FDFEFE;
$white-muted: #CACFD2;

$box-shadow-color: rgba($font-color, 0.25);
$box-shadow: 1px 0 $box-shadow-color, -1px 0 $box-shadow-color, 0 1px $box-shadow-color, 0 -1px $box-shadow-color;
